<div class="c-card">
    <div class="o-g o-g--card">
        <div class="o-g__media">
            <img class="c-card__image" src="http://pic.jcmserv3.net/115x115/ccc/fff.png&text=dummy+image" alt="">
        </div>
        <div class="o-g__head">
            <h3 class="c-card__title">ROI</h3>
        </div>
        <div class="o-g__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eius voluptates quas recusandae nostrum quaerat</p>
        </div>
    </div>
</div>