
<article class="c-card c-card--casestudy">
    <div class="o-g o-g--casestudy {{ include.class }}">
        <div class="o-g__media">
            <img src="http://pic.jcmserv3.net/600x400/ccc/fff.png&text=Test+Image" alt="" class="c-card__media">
        </div>
        <div class="o-g__head">
            <h3 class="c-card__title">Revenue savings of over 20% for Council</h3>
        </div>
        <div class="o-g__body">
            <div class="c-card__body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos asperiores quam odio voluptas consequuntur doloremque nostrum pariatur itaque, facilis mollitia officiis odit sequi, culpa quo praesentium saepe voluptatibus quasi quidem!</p>
            </div>
        </div>
        <div class="o-g__body2">
            <ul class="o-l o-l--h o-l--card-icons">
                <li class="o-l__item">
                    <div class="c-card__icon">
                        <img src="http://pic.jcmserv3.net/80x80/ccc/fff.png" alt="" class="">
                        <span>20%<sup>+</sup> ROI</span>
                    </div>
                </li>
                <li class="o-l__item">
                    <div class="c-card__icon">
                        <img src="http://pic.jcmserv3.net/80x80/ccc/fff.png" alt="" class="">
                        <span>20%<sup>+</sup> ROI</span>
                    </div>
                </li>
                <li class="o-l__item">
                    <div class="c-card__icon">
                        <img src="http://pic.jcmserv3.net/80x80/ccc/fff.png" alt="" class="">
                        <span>20%<sup>+</sup> ROI</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="o-g__actions">
            {%- include partials/components/c-button.html -%}
        </div>
    </div>
</article>