<ul class="o-l o-g o-g--stats">
    <li class="o-l__item c-stat">
        <p class="c-stat">
            <span class="c-stat__number">1</span>
            <span class="c-stat__text">Database</span>
        </p>
    </li>
    <li class="o-l__item c-stat">
        <p class="c-stat">
            <span class="c-stat__number">35+</span>
            <span class="c-stat__text">Countries</span>
        </p>
    </li>
    <li class="o-l__item c-stat">
        <p class="c-stat">
            <span class="c-stat__number">16</span>
            <span class="c-stat__text">Languages</span>
        </p>
    </li>
    <li class="o-l__item c-stat">
        <p class="c-stat">
            <span class="c-stat__number">25,000+</span>
            <span class="c-stat__text">END USERS</span>
        </p>
    </li>
</ul>