<section class="o-s">
    <div class="o-w">
        <div class="o-g o-g--2col">
            <div class="o-g__head">
                <h2>Made for growing businesses</h2>
            </div>
            <div class="o-g__body">
                <div class="rte">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sequi iste quam, id expedita facilis. Illo quam eaque quisquam optio perferendis natus, minima, voluptatum fugiat, architecto recusandae eos ullam nesciunt!</p>
                </div>
            </div>
            <div class="o-g__body2">
                <div class="rte">
                    <blockquote>
                        <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque quo laboriosam, animi maxime non nostrum officiis fugit iure quas neque iste in ut dolorum, sint eum natus illum tenetur?&rdquo;</p>
                        <footer>
                            Jim Nicholson, Digital Solutions Manager
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="o-g__actions">
                {%- include partials/c-button.html -%}
            </div>
            <div class="o-g__media">
                <img src="http://pic.jcmserv3.net/400x400/ccc/fff.png&text=Test+Image" alt="">
            </div>
        </div>
    </div>
</section>