<section class="o-s">
    <div class="o-g o-g--why o-g--section">
        <div class="o-g__head">
            <div class="o-w">
                <h2 class="o-s__title">Why XCD?</h2>
                <p class="o-s__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum mollitia pariatur quae saepe maxime</p>
            </div>
        </div>
        <div class="o-g__body">
            <div class="o-w">
                <div class="o-g o-g--3col-equal">
                    <div class="o-g__item">
                        {%- include partials/components/c-card--why.html -%}
                    </div>
                    <div class="o-g__item">
                        {%- include partials/components/c-card--why.html -%}
                    </div>
                    <div class="o-g__item">
                        {%- include partials/components/c-card--why.html -%}
                    </div>
                    <div class="o-g__item">
                        {%- include partials/components/c-card--why.html -%}
                    </div>
                    <div class="o-g__item">
                        {%- include partials/components/c-card--why.html -%}
                    </div>
                    <div class="o-g__item">
                        {%- include partials/components/c-card--why.html -%}
                    </div>
                </div>
            </div>
        </div>
        <div class="o-g__actions">
            <div class="o-w">
                {%- include partials/components/c-button.html -%}
            </div>
        </div>
    </div>
</section>