<section class="o-s o-s--casestudies">
    <div class="o-g o-g--section">
        <div class="o-g__head">
            <div class="o-w">
                <h2 class="o-s__title">We help our customers achieve</h2>
                <p class="o-s__body">As the only single HR and Payroll solution on the world's number one cloud platform, Salesforce</p>
            </div>
        </div>
        <div class="o-g__body">
            <div class="o-w">
                <ul class="o-l o-g o-g--casestudies">
                    <li class="o-l__item">
                        {%- include partials/components/c-card--casestudy.html -%}
                    </li>
                    <li class="o-l__item">
                        {%- include partials/components/c-card--casestudy.html class="rtl" -%}
                    </li>
                    <li class="o-l__item">
                        {%- include partials/components/c-card--casestudy.html -%}
                    </li>
                </ul>
            </div>
        </div>
        <div class="o-g__actions">
            <div class="o-w">
                {%- include partials/components/c-button.html -%}
            </div>
        </div>
    </div>
</section>