<div class="o-s o-s--products o-s--ztheme-darkblue-radial">
    <picture class="o-s__picture"><img src="assets/img/bg-connect.png" alt=""></picture>
    <div class="o-g o-g--products o-g--section">
        <div class="o-g__head">
            <div class="o-w">
                <h2 class="o-s__title">Lorem ipsum dolor sit ametros sagittis</h2>
                <p class="o-s__body">If you're looking to transform the way yourHR team works. Lorem ipsum dolor sit ametros sagittis</p>
            </div>
        </div>
        <div class="o-g__body">
            <div class="o-w">
                <div class="o-g o-g--2col-products">
                    <div class="o-g__cards">
                        <div class="o-g o-g--product-cards">
                            {%- include partials/components/c-card--why.html -%}
                            {%- include partials/components/c-card--why.html -%}
                            {%- include partials/components/c-card--why.html -%}
                            {%- include partials/components/c-card--why.html -%}
                        </div>
                    </div>
                    <div class="o-g__media">
                        <img src="assets/img/products/product-core-hr.png" alt="">
                    </div>
                    <div class="o-g__stats">
                        {%- include partials/components/c-stats.html -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>