<header class="o-s o-s--header  o-header o-header--full o-s--ztheme-darkblue">
    <picture class="o-s__picture">
        <img src="assets/img/home/banner-temp.jpg" alt="">
    </picture>
    <div class="o-header__nav-wrapper">
        <div class="o-header__nav">
            {%- include partials/modules/m-nav.html -%}
        </div>
    </div>
    <div class="o-w">
        <div class="g g--full">

            <div class="gc">
                
                <div class="o-header__body">
                    <h1 class="o-s__title">Putting you back in control</h1>
                    <h2 class="o-s__title o-s__title--subtitle">Making the complex simple</h2>
                    <div class="o-header__actions">
                        {% include partials/components/c-button.html %}
                        {% include partials/components/c-button.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
