<!-- Polyfills -->
<script type="text/javascript" src="/assets/js/polyfills/polyfills.js"></script>


<!-- Libs -->
<script defer src="/assets/js/libs/svgxuse/svgxuse.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-1.7.2/angular.js"></script>
<script type="text/javascript" src="/assets/js/angular-1.7.2/angular-sanitize.js"></script>
<script type="text/javascript" src="/assets/js/angular-1.7.2/angular-animate.js"></script>
<script type="text/javascript" src="/assets/js/libs/ngSmoothScroll/angular-smooth-scroll.js"></script>
<script type="text/javascript" src="/assets/js/libs/ngTouch/ngTouch.js"></script>


<!-- Services -->


<!-- Controllers -->


<!-- Directives -->


<!-- App -->
<script type="text/javascript" src="/assets/js/app.js"></script>
